<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studapps.shrikant.novamaterial">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UserLogin"
            android:label="Nova"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UserProfile2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AccountSettings"
            android:label="Account Settings"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfile" />
        </activity>
        <activity
            android:name=".Register"
            android:label="Registration - Step 1"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserLogin" />
        </activity>
        <activity
            android:name=".AdminPanel"
            android:label="Administrator Panel"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Register_2"
            android:label="Registration - Step 2"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Register" />
        </activity>
        <activity
            android:name=".JobFinder"
            android:label="Find a Job">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfile" />
        </activity>
        <activity
            android:name=".SavedJobs"
            android:label="@string/title_activity_saved_jobs"></activity>
    </application>

</manifest>
