<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.nova.hro.novamaterial">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nova.hro.novamaterial.Login"
            android:label="Nova"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nova.hro.novamaterial.UserProfile"
            android:label="User Profile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nova.hro.novamaterial.UserProfile2"
            android:label="User Profile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nova.hro.novamaterial.AccountSettings"
            android:label="Account Settings"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nova.hro.novamaterial.UserProfile" />
        </activity>
        <activity
            android:name="com.nova.hro.novamaterial.Register"
            android:label="Registration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nova.hro.novamaterial.Login" />
        </activity>
        <activity
            android:name="com.nova.hro.novamaterial.AdminPanel"
            android:label="Administrator Panel"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nova.hro.novamaterial.Register_2"
            android:label="Registration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nova.hro.novamaterial.Register" />
        </activity>
        <activity
            android:name="com.nova.hro.novamaterial.JobFinder"
            android:windowSoftInputMode="stateHidden"
            android:label="Find a Job">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nova.hro.novamaterial.UserProfile" />
        </activity>
        <activity
            android:name="com.nova.hro.novamaterial.SavedJobs"
            android:label="@string/title_activity_saved_jobs"/>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See    https://g.co/AppIndexing/AndroidStudio for more information. -->

    </application>

</manifest>
